*body{
	background-color: white;
	alignment-adjust: center;
	color: #333333;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-size: x-large;
	text-align: center;
