@charset "utf-8";

*body{
	background-color: white;
	alignment-adjust: center;
	color: #333333;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-size: x-large;
	text-align: center;
  	background-image: url("http://jpnterengganu.moe.gov.my/bm/images/demo/slideshow/revolutionslider/background8.jpg");
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
}
}
#header {
	background-color: white;
	color: #258CD6;
	text-align: center;
	padding: 5px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

#nav {
	background-color: white;
	color: #258CD6;
	height: 200px;
	width: 120px;
	float: right;
	padding: 5px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
}

#footer {
	background-color: white;
	color: #258CD6;
	text-align: right;
	padding: 5px;
	clear: right;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
